@using ProniaTask.Core.Models
@model Slider
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
            
                <div class="form-group">
                    <label for="exampleInputPassword1">Title</label>
                    <input type="text" asp-for="Title" class="form-control" id="exampleInputPassword1">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">RedirectUrl</label>
                    <input rows="5" asp-for="RedirectUrl" class="form-control">
                    <span asp-validation-for="RedirectUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">ImageFile</label>
                    <input rows="5" asp-for="ImageFile" class="form-control">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>



                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>